// Color
$dark-blue: #1f3861;
$blue: #5e89b3;
$light-blue: #ebf2fa;
$yellow: #f9ae08;
$dark-gray: #343a40;
$gray: #8f8f8f;
$light-gray: #f8f9fa;
$light-text: #fff;
$dark-text: $dark-gray;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
