#register {
    margin-top: 8.6rem;
    .register-form {
        padding: 4rem 9.4rem;
        background-color: $blue;
        color: $light-blue;
        border-radius: 2rem;
        .grid.grid--2-cols {
            column-gap: 12%;
        }
        label {
            font-size: 2.4rem;
            margin-bottom: 1.2rem;
            display: block;
        }
        input:not(.fake-input) {
            margin-bottom: 1.2rem;
        }
        input,
        select {
            width: 100%;
            font-size: 2.4rem;
            padding: 1.6rem 4rem;
            border: none;
            border-radius: 2rem;
            appearance: none;
            line-height: 1;
            &[type="file"] {
                display: none;
            }
            &[type="submit"] {
                width: auto;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            &::placeholder {
                color: $gray;
            }
        }
        #gender {
            background-color: #fff;
            display: none;
            & + .gender-option {
                display: none;
                z-index: 1;
                position: absolute;
                overflow: hidden;
                left: 0;
                right: 0;
                list-style-type: none;
                background-color: #fff;
                border-radius: 2rem;
                border: 1px solid $gray;
                &.active {
                    display: block;
                }
                li {
                    font-size: 2.4rem;
                    color: $gray;
                    padding: 1.4rem 4rem;
                    &:not(:last-child) {
                        border-bottom: 1px solid $gray;
                    }
                    &:hover {
                        color: $dark-text;
                        background-color: $light-blue;
                    }
                }
            }
        }
        .input-item {
            margin-bottom: 4rem;
            position: relative;
            .fake-input {
                background-color: $light-text;
                color: $gray;
                padding: 1.6rem 4rem;
                border-radius: 2rem;
                line-height: 1.133334;
                span {
                    filter: grayscale(1);
                }
                &.active {
                    color: $dark-text;
                }
            }
            input,
            .fake-input {
                &.error {
                    box-shadow: inset 0 0 0 0.25rem $yellow;
                }
            }
            .message {
                font-size: 2rem;
            }
            #portrait-img {
                max-width: 20rem;
            }
        }
    }
}
