@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: $regular;
}
.container {
    max-width: 128rem;
    margin: 0 auto;
}
